{
  "openapi": "3.0.0",
  "info": {
    "title": "HMIS Developer Service",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.hmislynk.com/hmis-developer-service/rest"
    }
  ],
  "paths": {
    "/developercompanies": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "developerCompanies": {
                      "paginationResult": {
                        "startIndex": "0",
                        "itemsReturned": "2",
                        "totalItems": "16"
                      },
                      "developerCompanies": {
                        "developerCompany": [
                          {
                            "developerCompanyId": "AA8F9FD9-532D-4D59-B397-5D94CEC6A868",
                            "name": "Amazing Inc.",
                            "domain": "www.hmis.com",
                            "owner": {
                              "username": "username@gmail.com",
                              "firstName": "firstname",
                              "lastName": "lastname"
                            }
                          },
                          {
                            "developerCompanyId": "5D94CEC6A868-532D-4D59-B397-AA8F9FD9",
                            "name": "HMIS.",
                            "domain": "www.hmis.com",
                            "owner": {
                              "username": "username@gmail.com",
                              "firstName": "firstname",
                              "lastName": "lastname"
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "INVALID_SESSION_TOKEN",
                        "message": "The specified session/access token is not valid or has expired."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Gets ( reads or retrieves) all developer companies.It filters the result based on the request parameters (optional) 'trustedApp.status' or 'service.status'. The user must have \"DCS_GET_ALL_DEVELOPER_COMPANY\" permission to use this API.\n",
        "operationId": "GET_developercompanies",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "developerCompany": {
                      "developerCompanyId": "5EAD0155-AD7D-47AF-A604-AE965787CEA5",
                      "name": "Servinglynk",
                      "domain": "servinglynk.com",
                      "logoUrl": "www.servinglynk.com",
                      "owner": {
                        "username": "superadmin@hmis.com",
                        "twoFactorAuthentication": false,
                        "preferences": {}
                      },
                      "companySkillSet": "JAVA/J2EE",
                      "appExperience": "10",
                      "companySize": 100,
                      "appPlatforms": "Android & Apple",
                      "contactEmail": "superadmin@hmis.com",
                      "status": "SUBMITTED"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "MISSING_PARAMETER",
                        "message": "Some of the required element/query parameter/header values are not specified (or missing) in the request."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "ACCESS_DENIED",
                        "message": "The developer company could not be created because the trustedApp submitting the request was not authorized to do so."
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "An internal service/server error occurred. (e.g. database is down, etc.)."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "It creates a new developer company with the specified account as the owner/admin. It performs the following logic:\n<ul>\n  <li> It will get session taken from the request header and gets login user details. And assign that user as owner of the developer company.</li>\n    </ul>\n  </li>\n</ul>\n",
        "operationId": "POST_developercompanies",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "developerCompany": {
                  "name": "Servinglynk",
                  "domain": "servinglynk.com",
                  "logoUrl": "www.servinglynk.com",
                  "companySkillSet": "JAVA/J2EE",
                  "appExperience": "10",
                  "companySize": 100,
                  "appPlatforms": "Android & Apple",
                  "contactEmail": "superadmin@hmis.com"
                }
              },
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/developercompanies/{developercompanyid}": {
      "put": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "developerCompany": {
                      "developerCompanyId": "AA8F9FD9-532D-4D59-B397-5D94CEC6A868",
                      "name": "Amazing Inc.",
                      "domain": "www.amazing.com"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "DEVELOPER_COMPANY_NOT_FOUND",
                        "message": "A developer company with the specified developerCompanyId is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Updates a specific developer company. Only the accounts associated with a developer company in \"ADMIN\" role can update that developer company.\n",
        "operationId": "PUT_developercompanies-developercompanyid",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "developerCompany": {
                  "domain": "www.amazing.com",
                  "logoUrl": "Company Logo URL ",
                  "companySize": "100",
                  "appExperience": "Mobile apps",
                  "companySkillSet": "skill set",
                  "appPlatforms": "iOS,Windows",
                  "expectedAppFinishDate": "2013-03-26",
                  "contactEmail": "info@amazing.com"
                }
              },
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "developercompanyid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/developercompanies/{developercompanyid}/approvaldecision": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "developerCompanyStatus": "  "
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "ILLEGAL_STATE",
                        "message": "The developer company can not be approved or rejected because its current status is not SUBMITTED."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "DEVELOPER_COMPANY_NOT_FOUND",
                        "message": "A developer company with the specified developerCompanyId is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "It approves or rejects a developer company. If the developer company is approved the status of the developer company is changed to ACTIVE and if the developer company is rejected the status of the developer company is changed to REJECTED. An email is sent to the owner of the developer company with the approval decision.\nA developer company can be approved or rejected only if its current status is SUBMITTED.\n",
        "operationId": "POST_developercompanies-developercompanyid-approvaldecision",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "developerCompanyStatus": {
                  "status": "ACTIVE",
                  "comment": "service has been approved"
                }
              },
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "developercompanyid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/developercompanies/{developercompanyid}/accounts": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "developerCompanyAccounts": {
                      "pagination": {
                        "from": 0,
                        "returned": 2,
                        "total": 2,
                        "maximum": 30,
                        "sort": {}
                      },
                      "developerCompanyAccount": [
                        {
                          "account": {
                            "accountId": "22095B4D-2C97-4BF2-AF61-ACEFB4904535",
                            "username": "SuryaYadavallitest1@gmail.com",
                            "firstName": "Surya",
                            "lastName": "Yadavalli",
                            "middleName": "P"
                          },
                          "role": "ADMIN",
                          "owner": "true"
                        },
                        {
                          "account": {
                            "accountId": "46B0C97E-E8AB-4259-A299-16A3B974D6F0",
                            "username": "surya.yadavalli@gmail.com",
                            "firstName": "Surya",
                            "lastName": "Yadavalli",
                            "middleName": "L",
                            "alias": "Surya K"
                          },
                          "role": "BASIC",
                          "owner": "false"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "INVALID_SESSION_TOKEN",
                        "message": "The specified session/access token is not valid or has expired."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Gets (aka reads or retrieves) all accounts associated with the specified developer company. Only the accounts associated with a developer company in \"ADMIN\" role can perform this operation for that developer company.\n",
        "operationId": "GET_developercompanies-developercompanyid-accounts",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "schema": {
              "default": "0",
              "type": "string"
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "schema": {
              "default": "30",
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "developerCompanyAccount": " "
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "DEVELOPER_COMPANY_ACCOUNT_ALREADY_EXISTS",
                        "message": "The specified account is already associated with the specified developer company."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "ACCOUNT_NOT_FOUND",
                        "message": "The account with the specified username is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "It associates an account with a specific developer company. Only the accounts associated with a developer company in \"ADMIN\" role can perform this operation for that developer company.\n",
        "operationId": "POST_developercompanies-developercompanyid-accounts",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "developerCompanyAccount": {
                  "account": {
                    "username": "xyz@gmail.com"
                  },
                  "role": "BASIC"
                }
              },
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "developercompanyid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/developercompanies/{developercompanyid}/accounts/{username}": {
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "developerCompanyAccount": " "
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "DEVELOPER_COMPANY_OWNER_DISASSOCIATION_NOT_ALLOWED",
                        "message": "The specified account is the owner of the developer company and we do not allow dissociating an owner account from the developer company."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "ACCOUNT_NOT_FOUND",
                        "message": "The account with the specified username is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Dissociates an account from a specific developer company. Only the accounts associated with a developer company in \"ADMIN\" role can perform this operation for that developer company.\nThe {developerCompanyId} is a value that uniquely identifies a developer company.\nThe {username} is a value that uniquely identifies an account.\nThe {developerCompanyId} and {username} together uniquely identify a developer-company-account association.\n\n<b>NOTE:</b> An owner account can not be dissociated from the developer company.\n",
        "operationId": "DELETE_developercompanies-developercompanyid-accounts-username",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "username",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "developercompanyid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/developercompanies/{developercompanyid}/services": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "services": {
                      "pagination": {
                        "from": 0,
                        "returned": 2,
                        "total": 2,
                        "maximum": 30,
                        "sort": {}
                      },
                      "service": [
                        {
                          "serviceId": "22095B4D-2C97-4BF2-AF61-ACEFB4904535",
                          "friendlyName": "HMIS API  service",
                          "description": "HMIS API service description",
                          "licenseType": "NONE",
                          "status": "IN_DEVELOPMENT"
                        },
                        {
                          "serviceId": "ACEFB4904535-2C97-4BF2-AF61-22095B4D",
                          "friendlyName": "I am a sample service",
                          "description": "I am a sample service description",
                          "status": "ACTIVE"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "INVALID_SESSION_TOKEN",
                        "message": "The specified session/access token is not valid or has expired."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Gets (aka reads or retrieves) all services associated with the specified developer company. Only the accounts associated with a developer company in \"ADMIN\" role or any user with permission of \"READ_ANY_SERVICE\" can perform this operation for that developer company.\n",
        "operationId": "GET_developercompanies-developercompanyid-services",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "schema": {
              "default": "0",
              "type": "string"
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "schema": {
              "default": "30",
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "service": {
                      "serviceId": "AA8F9FD9-532D-4D59-B397-5D94CEC6A868"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "INVALID_SESSION_TOKEN",
                        "message": "The specified session/access token is not valid or has expired."
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "SERVICE_NAME_ALREADY_EXISTS",
                        "message": "A service with the specified friendly name already exists. The friendly name of the service must be globally unique."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "It creates a new service for the specified developer company. The initial status of the newly created service is <b>IN_DEVELOPMENT<b>. Only the accounts associated with a developer company in \"ADMIN\" role can perform this operation for that developer company.\n",
        "operationId": "POST_developercompanies-developercompanyid-services",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "service": {
                  "friendlyName": "I am sample service",
                  "description": "I am sample service description"
                }
              },
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "developercompanyid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/developercompanies/{serviceid}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "service": {
                      "serviceId": "22095B4D-2C97-4BF2-AF61-ACEFB4904535",
                      "friendlyName": "sample service",
                      "description": "sample service description",
                      "status": "IN_DEVELOPMENT"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "SERVICE_NOT_FOUND",
                        "message": "A service with the specified serviceId is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Gets (aka reads or retrieves) a specific service. Only the accounts associated with a developer company in \"ADMIN\" role can perform this operation for that developer company.",
        "operationId": "GET_developercompanies-serviceid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "service": {
                      "serviceId": "ACEFB4904535-2C97-4BF2-AF61-22095B4D",
                      "friendlyName": "I am home service",
                      "description": "sample service description",
                      "status": "ACTIVE"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "ILLEGAL_STATE",
                        "message": "The service can not be updated because its status is not IN_DEVELOPMENT."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "SERVICE_NOT_FOUND",
                        "message": "A service with the specified serviceId is not found."
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "SERVICE_NAME_ALREADY_EXISTS",
                        "message": "A service with the specified friendly name already exists. The friendly name of the service must be globally unique."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Updates a specific service. Only the accounts associated with a developer company in \"ADMIN\" role can perform this operation for that developer company.A service can be updated only if its status is IN_DEVELOPMENT.",
        "operationId": "PUT_developercompanies-serviceid",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "service": {
                  "friendlyName": "sample service",
                  "description": "sample service description"
                }
              },
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "service": ""
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "ILLEGAL_STATE",
                        "message": "The service can not be updated because its status is not IN_DEVELOPMENT."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "SERVICE_NOT_FOUND",
                        "message": "A service with the specified serviceId is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Deletes a specific service. Only the accounts associated with a developer company in \"ADMIN\" role can perform this operation for that developer company. A service can be deleted only if its status is IN_DEVELOPMENT and there are no trustedApps associated.\n",
        "operationId": "DELETE_developercompanies-serviceid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "serviceid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/services/{serviceid}/approvalsubmission": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "serviceStatus": " "
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "ILLEGAL_STATE",
                        "message": "The service can not be updated because its status is not IN_DEVELOPMENT."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "SERVICE_NOT_FOUND",
                        "message": "A service with the specified serviceId is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "It submits the specified service for approval. The status of the service is changed to SUBMITTED and an email is sent to the owner of the developer company stating that the service has been submitted for approval. A service can be submitted for approval only if its status is IN_DEVELOPMENT. Only the accounts associated with a developer company in \"ADMIN\" role can perform this operation for that developer company.",
        "operationId": "POST_services-serviceid-approvalsubmission",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "serviceStatus": {
                  "comment": "submitting service for approval."
                }
              },
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "serviceid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/services/{serviceid}/approvaldecision": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "serviceStatus": {
                      "status": "ACTIVE",
                      "comment": "service has been approved"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "ILLEGAL_STATE",
                        "message": "The service can not be updated because its status is not SUBMITTED."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "SERVICE_NOT_FOUND",
                        "message": "A service with the specified serviceId is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "It approves or rejects a service. If the service is approved the status of the service is changed to ACTIVE and if the service is rejected the status of the service is changed to IN_DEVELOPMENT. An email is sent to the owner of the developer company with the approval decision.\nA service can be approved or rejected only if its current status is SUBMITTED.\n",
        "operationId": "POST_services-serviceid-approvaldecision",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "serviceStatus": {
                  "status": "ACTIVE",
                  "comment": "service has been approved"
                }
              },
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "serviceid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/services/{serviceid}/trustedapps": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "trustedApps": {
                      "pagination": {
                        "from": 0,
                        "returned": 2,
                        "total": 2,
                        "maximum": 30,
                        "sort": {}
                      },
                      "trustedApp": [
                        {
                          "trustedAppId": "22095B4D-2C97-4BF2-AF61-ACEFB4904535",
                          "friendlyName": "Sample Trusted app1",
                          "description": "Sample Trusted app1 description",
                          "trustedAppSecret": "ajkdjledkaelanmcxsnjekldkleldfasfsd",
                          "logoUrl": "http://logos/logo1.png",
                          "trustedAppProfileType": "NATIVE",
                          "trustedAppFamilyType": "APP",
                          "refreshTokenSupported": "true",
                          "implicitGrantSupported": "false",
                          "authCodeGrantSupported": "true",
                          "status": "ACTIVE"
                        },
                        {
                          "trustedAppId": "ACEFB4904535-2C97-4BF2-AF61-22095B4D",
                          "friendlyName": "Sample Trusted app2",
                          "description": "Sample Trusted app2 description",
                          "trustedAppSecret": "ghgskhgklgwggwewfsjdfasf",
                          "logoUrl": "http://logos/logo1.png",
                          "trustedAppProfileType": "NATIVE",
                          "trustedAppFamilyType": "APP",
                          "refreshTokenSupported": "true",
                          "implicitGrantSupported": "false",
                          "authCodeGrantSupported": "true",
                          "status": "IN_DEVELOPMENT"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "SERVICE_NOT_FOUND",
                        "message": "A service with the specified serviceId is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Gets (aka reads or retrieves) all trustedApps associated with the specified service. Only the accounts associated with a developer company in \"ADMIN\" role or any user with permission of \"READ_ANY_CLIENT\" can perform this operation for that developer company.",
        "operationId": "GET_services-serviceid-trustedapps",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "schema": {
              "default": "0",
              "type": "string"
            }
          },
          {
            "name": "maxItems",
            "in": "query",
            "schema": {
              "default": "30",
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "trustedApp": {
                      "trustedAppId": "AA8F9FD9-532D-4D59-B397-5D94CEC6A868"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "SERVICE_NOT_FOUND",
                        "message": "A service with the specified serviceId is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "It creates a new trustedApp for the specified service. The initial status of the newly created trustedApp is IN_DEVELOPMENT.\nOnly the accounts associated with a developer company in \"ADMIN\" role can perform this operation for that developer company.\n",
        "operationId": "POST_services-serviceid-trustedapps",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "trustedApp": {
                  "friendlyName": "sample trusted app",
                  "description": "sample trusted app description"
                }
              },
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "serviceid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/services/{trustedappid}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "trustedApp": {
                      "trustedAppTypeId": "631D1191-9AC5-4F3F-836A-8DB0DBAE3CD3",
                      "friendlyname": "Friendly Name_1437006937244",
                      "description": "Description",
                      "status": "IN_DEVELOPMENT",
                      "trustedAppSecret": "7432e99debbe4fd1af0ea6eb65b4f3e4"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "CLIENT_NOT_FOUND",
                        "message": "A trustedApp with the specified trustedAppId is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Gets (aka reads or retrieves) a specific trustedApp. Only the accounts associated with a developer company in \"ADMIN\" role can perform this operation for that developer company.\n",
        "operationId": "GET_services-trustedappid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "trustedApp": {
                      "trustedAppTypeId": "631D1191-9AC5-4F3F-836A-8DB0DBAE3CD3",
                      "friendlyname": "Friendly Name",
                      "description": "Description",
                      "status": "IN_DEVELOPMENT",
                      "trustedAppSecret": "7432e99debbe4fd1af0ea6eb65b4f3e4"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "ILLEGAL_STATE",
                        "message": "The trustedApp can not be updated because its current status is not IN_DEVELOPMENT."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "CLIENT_NOT_FOUND",
                        "message": "A trustedApp with the specified trustedAppId is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Updates a specific trustedApp. Only the accounts associated with a developer company in \"ADMIN\" role can perform this operation for that developer company. Only certain trustedApp fields can be updated if its status is not IN_DEVELOPMENT. See table below.",
        "operationId": "PUT_services-trustedappid",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "trustedApp": {
                  "trustedAppTypeId": "631D1191-9AC5-4F3F-836A-8DB0DBAE3CD3",
                  "friendlyname": "Friendly Name",
                  "description": "Description",
                  "status": "IN_DEVELOPMENT",
                  "trustedAppSecret": "7432e99debbe4fd1af0ea6eb65b4f3e4"
                }
              },
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "trustedApp": ""
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "ILLEGAL_STATE",
                        "message": "The trustedApp can not be updated because its current status is not IN_DEVELOPMENT."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "CLIENT_NOT_FOUND",
                        "message": "A trustedApp with the specified trustedAppId is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Deletes a specific trustedApp. Only the accounts associated with a developer company in \"ADMIN\" role can perform this operation for that developer company.\nA trustedApp can be deleted only if its status is IN_DEVELOPMENT.\n",
        "operationId": "DELETE_services-trustedappid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "trustedappid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/services/{trustedappid}/trustedappsecret": {
      "put": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "trustedApp": {
                      "trustedAppId": "22095B4D-2C97-4BF2-AF61-ACEFB4904535",
                      "trustedAppSecret": "ajkdjledkaelanmcxsnjekldkleldfasfsd"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "CLIENT_NOT_FOUND",
                        "message": "A trustedApp with the specified trustedAppId is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "It generates a new trustedApp secret for the the specified trustedApp. Only the accounts associated with a developer company in \"ADMIN\" role can perform this operation for that developer company.\n",
        "operationId": "PUT_services-trustedappid-trustedappsecret",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "trustedappid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/services/{trustedappid}/approvalsubmission": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "trustedAppStatus ": " "
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "ILLEGAL_STATE",
                        "message": "TThe specified trustedApp can not be submitted for approval because its current status is not IN_DEVELOPMENT."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "CLIENT_NOT_FOUND",
                        "message": "A trustedApp with the specified trustedAppId is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "It submits the specified trustedApp for approval. The status of the trustedApp is changed to SUBMITTED and an email is sent to the owner of the developer company stating that the trustedApp/app has been submitted for approval.\nA trustedApp can be submitted for approval only if its status is IN_DEVELOPMENT. Only the accounts associated with a developer company in \"ADMIN\" role can perform this operation for that developer company.\n",
        "operationId": "POST_services-trustedappid-approvalsubmission",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "trustedAppStatus": {
                  "comment": "submitting IOS trustedApp for approval."
                }
              },
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "trustedappid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/services/{trustedappid}/approvaldecision": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "trustedAppStatus": {
                      "status": "ACTIVE",
                      "comment": "trustedApp has been approved."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "ILLEGAL_STATE",
                        "message": "The trustedApp can not be approved because its current status is not SUBMITTED."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errors": {
                      "error": {
                        "code": "CLIENT_NOT_FOUND",
                        "message": "A trustedApp with the specified trustedAppId is not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "It approves or rejects a trustedApp. If the trustedApp is approved the status of the trustedApp is changed to ACTIVE and if the trustedApp is rejected the status of the trustedApp is changed to IN_DEVELOPMENT. An email is sent to the owner of the developer company with the approval decision. User must have \"MODIFY_ANY_TRUSTEDAPP_APPROVAL\" permission to use this API. See user-level authroization permissions\nA trustedApp can be approved or rejected only if its current status is SUBMITTED.\n",
        "operationId": "POST_services-trustedappid-approvaldecision",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "trustedAppStatus": {
                  "status": "ACTIVE",
                  "comment": "trustedApp has been approved."
                }
              },
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-HMIS-TrustedApp-Id",
            "in": "header",
            "required": true,
            "description": "Trusted App id should be provide in this header.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "trustedappid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    }
  },
  "components": {
    "schemas": {},
    "responses": {},
    "parameters": {},
    "examples": {},
    "requestBodies": {},
    "headers": {},
    "securitySchemes": {
      "oauth_2_0": {
        "description": "The HMIS API supports OAuth 2.0 for authenticating all API requests.\n",
        "type": "oauth2",
        "flows": {
          "password": {
            "tokenUrl": "https://hmislynk.com/hmis-authorization-service/rest/token",
            "scopes": {
              "user": "",
              "administrator": ""
            }
          }
        }
      }
    },
    "links": {},
    "callbacks": {}
  }
}
