#%RAML 0.8
title: Hmis Developer Service
version: 1.0.0
baseUri: https://www.hmislynk.com/hmis-developer-service/rest
mediaType: application/json
/developercompanies:
  displayName:  Developer Company Endpoints
  description: |
  get:
    description: |
         Gets ( reads or retrieves) all developer companies.It filters the result based on the request parameters (optional) 'trustedApp.status' or 'service.status'. The user must have "DCS_GET_ALL_DEVELOPER_COMPANY" permission to use this API.  
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
  
    responses :
      200:
        body :
          example : |
                      {
                        "developerCompanies": {
                          "paginationResult": {
                            "startIndex": "0",
                            "itemsReturned": "2",
                            "totalItems": "16"
                          },
                          "developerCompanies": {
                            "developerCompany": [
                              {
                                "developerCompanyId": "AA8F9FD9-532D-4D59-B397-5D94CEC6A868",
                                "name": "Amazing Inc.",
                                "domain": "www.hmis.com",
                                "owner": {
                                  "username": "username@gmail.com",
                                  "firstName": "firstname",
                                  "lastName": "lastname"
                                }
                              },
                              {
                                "developerCompanyId": "5D94CEC6A868-532D-4D59-B397-AA8F9FD9",
                                "name": "HMIS.",
                                "domain": "www.hmis.com",
                                "owner": {
                                  "username": "username@gmail.com",
                                  "firstName": "firstname",
                                  "lastName": "lastname"
                                }
                              }
                            ]
                          }
                        }
                      }
      401 :
        body :
          example : |
                  {
                    "errors": {
                      "error": {
                        "code": "INVALID_SESSION_TOKEN",
                        "message": "The specified session/access token is not valid or has expired."
                      }
                    }
                  }
  post:
    description : |
                  It creates a new developer company with the specified account as the owner/admin. It performs the following logic:
                  <ul>
                    <li> It will get session taken from the request header and gets login user details. And assign that user as owner of the developer company.</li>
                      </ul>
                    </li>
                  </ul>
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example : |
                  {
                    "developerCompany": {
                      "name": "Servinglynk",
                      "domain": "servinglynk.com",
                      "logoUrl": "www.servinglynk.com",
                      "companySkillSet": "JAVA/J2EE",
                      "appExperience": "10",
                      "companySize": 100,
                      "appPlatforms": "Android & Apple",
                      "contactEmail": "superadmin@hmis.com"
                    }
                  }
    responses :
      200:
        body :
          example : |
                  {
                    "developerCompany": {
                      "developerCompanyId": "5EAD0155-AD7D-47AF-A604-AE965787CEA5",
                      "name": "Servinglynk",
                      "domain": "servinglynk.com",
                      "logoUrl": "www.servinglynk.com",
                      "owner": {
                        "username": "superadmin@hmis.com",
                        "twoFactorAuthentication": false,
                        "preferences": {}
                      },
                      "companySkillSet": "JAVA/J2EE",
                      "appExperience": "10",
                      "companySize": 100,
                      "appPlatforms": "Android & Apple",
                      "contactEmail": "superadmin@hmis.com",
                      "status": "SUBMITTED"
                    }
                  }
      400:
        body:
          example : |
                {
                  "errors": {
                    "error": {
                      "code": "ACCESS_DENIED",
                      "message": "The developer company could not be created because the trustedApp submitting the request was not authorized to do so."
                      },
                    "error": {
                      "code": "MISSING_PARAMETER",
                      "message": "Some of the required element/query parameter/header values are not specified (or missing) in the request."
                    }
                  }
                }
      403:
        body :
          example : |
                  {
                    "errors": {
                      "error": {
                        "code": "INVALID_TRUSTED_APP",
                        "message": "The trustedApp type ID is not valid."
                      },
                      "error": {
                        "code": "ACCESS_DENIED",
                        "message": "The developer company could not be created because the trustedApp submitting the request was not authorized to do so."
                      }
                    }
                  }

      500:
        body :
          example : |
                  {
                    "errors": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "An internal service/server error occurred. (e.g. database is down, etc.)."
                      }
                    }
                  }
/developercompanies/{developercompanyid}:
  displayName:  Update a developer Company
  description: |
      Updates a specific developer company. Only the accounts associated with a developer company in "ADMIN" role can update that developer company.
  put:
    description: |
      Updates a specific developer company. Only the accounts associated with a developer company in "ADMIN" role can update that developer company.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
                {
                  "developerCompany": {
                    "domain": "www.amazing.com",
                    "logoUrl": "Company Logo URL ",
                    "companySize": "100",
                    "appExperience": "Mobile apps",
                    "companySkillSet": "skill set",
                    "appPlatforms": "iOS,Windows",
                    "expectedAppFinishDate": "2013-03-26",
                    "contactEmail": "info@amazing.com"
                  }
                }
    responses:
      200:
        body:
          example : |
                  {
                    "developerCompany": {
                      "developerCompanyId": "AA8F9FD9-532D-4D59-B397-5D94CEC6A868",
                      "name": "Amazing Inc.",
                      "domain": "www.amazing.com"
                    }
                  }
      404:
        body:
          example : |
              {
                "errors": {
                  "error": {
                    "code": "DEVELOPER_COMPANY_NOT_FOUND",
                    "message": "A developer company with the specified developerCompanyId is not found."
                  }
                }
              }
/developercompanies/{developercompanyid}/approvaldecision:  
  description: |
      It approves or rejects a developer company. If the developer company is approved the status of the developer company is changed to ACTIVE and if the developer company is rejected the status of the developer company is changed to REJECTED. An email is sent to the owner of the developer company with the approval decision.
      A developer company can be approved or rejected only if its current status is SUBMITTED.
  post:
    description: |
      It approves or rejects a developer company. If the developer company is approved the status of the developer company is changed to ACTIVE and if the developer company is rejected the status of the developer company is changed to REJECTED. An email is sent to the owner of the developer company with the approval decision.
      A developer company can be approved or rejected only if its current status is SUBMITTED.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example :  |
                {
                  "developerCompanyStatus": {
                    "status": "ACTIVE",
                    "comment": "service has been approved"
                  }
                }
    responses:
      200:
        body:
          example : |
                {  "developerCompanyStatus": "  " }
      404:
        body:
          example : |
              {
                "errors": {
                  "error": {
                    "code": "DEVELOPER_COMPANY_NOT_FOUND",
                    "message": "A developer company with the specified developerCompanyId is not found."
                  }
                }
              }
      403:
        body:
          example : |
              {
                "errors": {
                  "error": {
                    "code": "ILLEGAL_STATE",
                    "message": "The developer company can not be approved or rejected because its current status is not SUBMITTED."
                  }
                }
              }           
/developercompanies/{developercompanyid}/accounts:
  description: |
      Gets (aka reads or retrieves) all accounts associated with the specified developer company. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.
  get:
    description: |
      Gets (aka reads or retrieves) all accounts associated with the specified developer company. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.
    queryParameters:
      startIndex: 
        required: false
        default: 0
      maxItems:
        required: false
        default: 30  
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:
          example : |
                {
                  "developerCompanyAccounts": {
                      "pagination": {
                        "from": 0,
                        "returned": 2,
                        "total": 2,
                        "maximum": 30,
                        "sort": {}
                    },                    
                    "developerCompanyAccount": [
                      {
                        "account": {
                          "accountId": "22095B4D-2C97-4BF2-AF61-ACEFB4904535",
                          "username": "SuryaYadavallitest1@gmail.com",
                          "firstName": "Surya",
                          "lastName": "Yadavalli",
                          "middleName": "P"
                        },
                        "role": "ADMIN",
                        "owner": "true"
                      },
                      {
                        "account": {
                          "accountId": "46B0C97E-E8AB-4259-A299-16A3B974D6F0",
                          "username": "surya.yadavalli@gmail.com",
                          "firstName": "Surya",
                          "lastName": "Yadavalli",
                          "middleName": "L",
                          "alias": "Surya K"
                        },
                        "role": "BASIC",
                        "owner": "false"
                      }
                    ]
                  }
                }
      403:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "INVALID_SESSION_TOKEN",
                  "message": "The specified session/access token is not valid or has expired."
                }
              }
            }             
  post:
    description: |
      It associates an account with a specific developer company. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
                {
                  "developerCompanyAccount": {
                    "account": { "username": "xyz@gmail.com" },
                    "role": "BASIC"
                  }
                }
    responses:
      200:
        body:
          example : |
                 {  "developerCompanyAccount": " " }
      404:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "DEVELOPER_COMPANY_NOT_FOUND",
                  "message": "The developer company with the specified developerCompanyID is not found."
                },
                "error": {
                  "code": "ACCOUNT_NOT_FOUND",
                  "message": "The account with the specified username is not found."
                }
              }
            } 
      403:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "DEVELOPER_COMPANY_ACCOUNT_ALREADY_EXISTS",
                  "message": "The specified account is already associated with the specified developer company."
                }
              }
            }       
/developercompanies/{developercompanyid}/accounts/{username}:
  description: |
      Dissociates an account from a specific developer company. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.
      The {developerCompanyId} is a value that uniquely identifies a developer company.
      The {username} is a value that uniquely identifies an account.
      The {developerCompanyId} and {username} together uniquely identify a developer-company-account association.
  delete:
    description: |
      Dissociates an account from a specific developer company. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.
      The {developerCompanyId} is a value that uniquely identifies a developer company.
      The {username} is a value that uniquely identifies an account.
      The {developerCompanyId} and {username} together uniquely identify a developer-company-account association.

      <b>NOTE:</b> An owner account can not be dissociated from the developer company.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:
          example: |
                   {  "developerCompanyAccount": " " }
      404:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "DEVELOPER_COMPANY_NOT_FOUND",
                  "message": "The developer company with the specified developerCompanyID is not found."
                },
                "error": {
                  "code": "ACCOUNT_NOT_FOUND",
                  "message": "The account with the specified username is not found."
                }
              }
            } 
      403:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "DEVELOPER_COMPANY_ACCOUNT_ALREADY_EXISTS",
                  "message": "The specified account is already associated with the specified developer company."
                },
                "error": {
                  "code": "DEVELOPER_COMPANY_OWNER_DISASSOCIATION_NOT_ALLOWED",
                  "message": "The specified account is the owner of the developer company and we do not allow dissociating an owner account from the developer company."
                }
              }
            }
/developercompanies/{developercompanyid}/services:
  description: |
      Gets (aka reads or retrieves) all services associated with the specified developer company. Only the accounts associated with a developer company in "ADMIN" role or any user with permission of "READ_ANY_SERVICE" can perform this operation for that developer company.
  get:
    description: |
      Gets (aka reads or retrieves) all services associated with the specified developer company. Only the accounts associated with a developer company in "ADMIN" role or any user with permission of "READ_ANY_SERVICE" can perform this operation for that developer company.
    queryParameters:
      startIndex: 
        required: false
        default: 0
      maxItems:
        required: false
        default: 30      
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:
          example: |
                      {
                        "services": {
                          "pagination": {
                                    "from": 0,
                                    "returned": 2,
                                    "total": 2,
                                    "maximum": 30,
                                    "sort": {}
                              },                          
                          "service": [
                            {
                              "serviceId": "22095B4D-2C97-4BF2-AF61-ACEFB4904535",
                              "friendlyName": "HMIS API  service",
                              "description": "HMIS API service description",
                              "licenseType": "NONE",
                              "status": "IN_DEVELOPMENT"
                            },
                            {
                              "serviceId": "ACEFB4904535-2C97-4BF2-AF61-22095B4D",
                              "friendlyName": "I am a sample service",
                              "description": "I am a sample service description",
                              "status": "ACTIVE"
                            }
                          ]
                        }
                      }
      403:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "INVALID_SESSION_TOKEN",
                  "message": "The specified session/access token is not valid or has expired."
                }
              }
            }           
  post:
    description: |
      It creates a new service for the specified developer company. The initial status of the newly created service is <b>IN_DEVELOPMENT<b>. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
              {
                "service": {
                  "friendlyName": "I am sample service",
                  "description": "I am sample service description"
                }
              }
    responses:
      200:
        body:
          example : |
              {
                "service": {
                  "serviceId": "AA8F9FD9-532D-4D59-B397-5D94CEC6A868"
                }
              }
      403:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "INVALID_SESSION_TOKEN",
                  "message": "The specified session/access token is not valid or has expired."
                }
              }
            }
      409:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "SERVICE_NAME_ALREADY_EXISTS",
                  "message": "A service with the specified friendly name already exists. The friendly name of the service must be globally unique."
                }
              }
            }  
/services/{serviceid} :
  description:
      Gets (aka reads or retrieves) a specific service. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.
  get:
    description:
      Gets (aka reads or retrieves) a specific service. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example:
    responses:
      200:
        body:
          example: |
                  {
                    "service": {
                      "serviceId": "22095B4D-2C97-4BF2-AF61-ACEFB4904535",
                      "friendlyName": "sample service",
                      "description": "sample service description",
                      "status": "IN_DEVELOPMENT"
                    }
                  }
      404:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "SERVICE_NOT_FOUND",
                  "message": "A service with the specified serviceId is not found."
                }
              }
            }  
  put:
    description:
      Updates a specific service. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.A service can be updated only if its status is IN_DEVELOPMENT.
    body:
      example: |
              {
                "service": {
                  "friendlyName": "sample service",
                  "description": "sample service description"
                }
              }
    responses:
      200:
        body:
          example: |
                    {
                      "service": {
                        "serviceId": "ACEFB4904535-2C97-4BF2-AF61-22095B4D",
                        "friendlyName": "I am home service",
                        "description": "sample service description",
                        "status": "ACTIVE"
                      }
                    }
      404:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "SERVICE_NOT_FOUND",
                  "message": "A service with the specified serviceId is not found."
                }
              }
            }
      403:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "ILLEGAL_STATE",
                  "message": "The service can not be updated because its status is not IN_DEVELOPMENT."
                }
              }
            }
      409:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "SERVICE_NAME_ALREADY_EXISTS",
                  "message": "A service with the specified friendly name already exists. The friendly name of the service must be globally unique."
                }
              }
            }
  delete:
     description: |
       Deletes a specific service. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company. A service can be deleted only if its status is IN_DEVELOPMENT and there are no trustedApps associated.
     headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
     responses:
      200:
         body:
          example : |
                    {  "service": "" }
      404:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "SERVICE_NOT_FOUND",
                  "message": "A service with the specified serviceId is not found."
                }
              }
            }
      403:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "ILLEGAL_STATE",
                  "message": "The service can not be updated because its status is not IN_DEVELOPMENT."
                }
              }
            }
/services/{serviceid}/approvalsubmission:      
  post:
    description:
      It submits the specified service for approval. The status of the service is changed to SUBMITTED and an email is sent to the owner of the developer company stating that the service has been submitted for approval.
      A service can be submitted for approval only if its status is IN_DEVELOPMENT. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example : |
              {   "serviceStatus": {  "comment": "submitting service for approval."  } }
    responses:
      200:
        body:
          example : |
              {  "serviceStatus": " " }
      404:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "SERVICE_NOT_FOUND",
                  "message": "A service with the specified serviceId is not found."
                }
              }
            }
      403:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "ILLEGAL_STATE",
                  "message": "The service can not be updated because its status is not IN_DEVELOPMENT."
                }
              }
            }
/services/{serviceid}/approvaldecision:      
  post:
    description: |
      It approves or rejects a service. If the service is approved the status of the service is changed to ACTIVE and if the service is rejected the status of the service is changed to IN_DEVELOPMENT. An email is sent to the owner of the developer company with the approval decision.
      A service can be approved or rejected only if its current status is SUBMITTED.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
                {
                  "serviceStatus": {
                    "status": "ACTIVE",
                    "comment": "service has been approved"
                  }
                }
    responses:
      200:
        body:
          example: |
                {
                  "serviceStatus": {
                    "status": "ACTIVE",
                    "comment": "service has been approved"
                  }
                }
      404:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "SERVICE_NOT_FOUND",
                  "message": "A service with the specified serviceId is not found."
                }
              }
            }
      403:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "ILLEGAL_STATE",
                  "message": "The service can not be updated because its status is not SUBMITTED."
                }
              }
            }      
/services/{serviceid}/trustedapps:
  get:
    description:
      Gets (aka reads or retrieves) all trustedApps associated with the specified service. Only the accounts associated with a developer company in "ADMIN" role or any user with permission of "READ_ANY_CLIENT" can perform this operation for that developer company. 
    queryParameters:
      startIndex: 
        required: false
        default: 0
      maxItems:
        required: false
        default: 30      
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:
          example : |
                        {
                          "trustedApps": {
                              "pagination": {
                                        "from": 0,
                                        "returned": 2,
                                        "total": 2,
                                        "maximum": 30,
                                        "sort": {}
                                  },                            
                            "trustedApp": [
                              {
                                "trustedAppId": "22095B4D-2C97-4BF2-AF61-ACEFB4904535",
                                "friendlyName": "Sample Trusted app1",
                                "description": "Sample Trusted app1 description",
                                "trustedAppSecret": "ajkdjledkaelanmcxsnjekldkleldfasfsd",
                                "logoUrl": "http://logos/logo1.png",
                                "trustedAppProfileType": "NATIVE",
                                "trustedAppFamilyType": "APP",
                                "refreshTokenSupported": "true",
                                "implicitGrantSupported": "false",
                                "authCodeGrantSupported": "true",
                                "status": "ACTIVE"
                              },
                              {
                                "trustedAppId": "ACEFB4904535-2C97-4BF2-AF61-22095B4D",
                                "friendlyName": "Sample Trusted app2",
                                "description": "Sample Trusted app2 description",
                                "trustedAppSecret": "ghgskhgklgwggwewfsjdfasf",
                                "logoUrl": "http://logos/logo1.png",
                                "trustedAppProfileType": "NATIVE",
                                "trustedAppFamilyType": "APP",
                                "refreshTokenSupported": "true",
                                "implicitGrantSupported": "false",
                                "authCodeGrantSupported": "true",
                                "status": "IN_DEVELOPMENT"
                              }
                            ]
                          }
                        }  
      404:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "SERVICE_NOT_FOUND",
                  "message": "A service with the specified serviceId is not found."
                }
              }
            }
  post:
    description: |
        It creates a new trustedApp for the specified service. The initial status of the newly created trustedApp is IN_DEVELOPMENT.
        Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
                {
                  "trustedApp": {
                    "friendlyName": "sample trusted app",
                    "description": "sample trusted app description"
                  }
                }
    responses:
      200:
        body:
          example: |
                  {
                    "trustedApp": {
                      "trustedAppId": "AA8F9FD9-532D-4D59-B397-5D94CEC6A868"
                    }
                  }
      404:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "SERVICE_NOT_FOUND",
                  "message": "A service with the specified serviceId is not found."
                }
              }
            }
/trustedapps/{trustedappid}:
  get:
    description: |
        Gets (aka reads or retrieves) a specific trustedApp. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body :
          example : |
                    {
                        "trustedApp":
                           {
                              "trustedAppTypeId":"631D1191-9AC5-4F3F-836A-8DB0DBAE3CD3",
                              "friendlyname":"Friendly Name_1437006937244",
                              "description":"Description",
                              "status":"IN_DEVELOPMENT",
                              "trustedAppSecret":"7432e99debbe4fd1af0ea6eb65b4f3e4"
                           
                           }      
                     }           
      404:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "CLIENT_NOT_FOUND",
                  "message": "A trustedApp with the specified trustedAppId is not found."
                }
              }
            }  
  put:
    description:
        Updates a specific trustedApp. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.
        Only certain trustedApp fields can be updated if its status is not IN_DEVELOPMENT. See table below.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example : |
                    {
                        "trustedApp":
                           {
                              "trustedAppTypeId":"631D1191-9AC5-4F3F-836A-8DB0DBAE3CD3",
                              "friendlyname":"Friendly Name",
                              "description":"Description",
                              "status":"IN_DEVELOPMENT",
                              "trustedAppSecret":"7432e99debbe4fd1af0ea6eb65b4f3e4"
                           }      
                     }   
    responses:
      200:
        body:
          example: |
                    {
                        "trustedApp":
                           {
                              "trustedAppTypeId":"631D1191-9AC5-4F3F-836A-8DB0DBAE3CD3",
                              "friendlyname":"Friendly Name",
                              "description":"Description",
                              "status":"IN_DEVELOPMENT",
                              "trustedAppSecret":"7432e99debbe4fd1af0ea6eb65b4f3e4"
                           }      
                     }
      404:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "CLIENT_NOT_FOUND",
                  "message": "A trustedApp with the specified trustedAppId is not found."
                }
              }
            }
      403:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "ILLEGAL_STATE",
                  "message": "The trustedApp can not be updated because its current status is not IN_DEVELOPMENT."
                }
              }
            }
  delete:
    description: |
      Deletes a specific trustedApp. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.
      A trustedApp can be deleted only if its status is IN_DEVELOPMENT.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:
          example : |
              { "trustedApp": "" }
      404:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "CLIENT_NOT_FOUND",
                  "message": "A trustedApp with the specified trustedAppId is not found."
                }
              }
            }
      403:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "ILLEGAL_STATE",
                  "message": "The trustedApp can not be updated because its current status is not IN_DEVELOPMENT."
                }
              }
            }
/trustedapps/{trustedappid}/trustedappsecret:
  put:
    description: |
      It generates a new trustedApp secret for the the specified trustedApp. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    responses:
      200:
        body:
          example : |
                  {
                    "trustedApp": {
                      "trustedAppId": "22095B4D-2C97-4BF2-AF61-ACEFB4904535",
                      "trustedAppSecret": "ajkdjledkaelanmcxsnjekldkleldfasfsd"
                    }
                  }
      404:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "CLIENT_NOT_FOUND",
                  "message": "A trustedApp with the specified trustedAppId is not found."
                }
              }
            }
/trustedapps/{trustedappid}/approvalsubmission:  
  post:
        description: |
          It submits the specified trustedApp for approval. The status of the trustedApp is changed to SUBMITTED and an email is sent to the owner of the developer company stating that the trustedApp/app has been submitted for approval.
          A trustedApp can be submitted for approval only if its status is IN_DEVELOPMENT. Only the accounts associated with a developer company in "ADMIN" role can perform this operation for that developer company.
        headers:
          Authorization: 
            description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
            required: true
            example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
          X-HMIS-TrustedApp-Id:
            description: Trusted App id should be provide in this header.  
            required: true
            example: MASTER_TRUSTED_APP
        body:
          example : |
            {
               "trustedAppStatus": {
                  "comment": "submitting IOS trustedApp for approval."
                }
            }
        responses:
          200:
            body:
              example : |
                { "trustedAppStatus " : " "}
          404:
            body:
              example: |
                {
                  "errors": {
                    "error": {
                      "code": "CLIENT_NOT_FOUND",
                      "message": "A trustedApp with the specified trustedAppId is not found."
                    }
                  }
                }
          403:
            body:
              example: |
                {
                  "errors": {
                    "error": {
                      "code": "ILLEGAL_STATE",
                      "message": "TThe specified trustedApp can not be submitted for approval because its current status is not IN_DEVELOPMENT."
                    }
                  }
                }
/trustedapps/{trustedappid}/approvaldecision:
  post:
    description: |
              It approves or rejects a trustedApp. If the trustedApp is approved the status of the trustedApp is changed to ACTIVE and if the trustedApp is rejected the status of the trustedApp is changed to IN_DEVELOPMENT. An email is sent to the owner of the developer company with the approval decision. User must have "MODIFY_ANY_TRUSTEDAPP_APPROVAL" permission to use this API. See user-level authroization permissions
              A trustedApp can be approved or rejected only if its current status is SUBMITTED.
    headers:
      Authorization: 
        description: Authorization request header should specify as HMISUserAuth session_token={sessiontokenvalue}.
        required: true
        example : HMISUserAuth session_token=956048930B39448A8B6ABEDF57BECFFC07E2628546F847149BD42D4BC3CFDC39
      X-HMIS-TrustedApp-Id:
        description: Trusted App id should be provide in this header.  
        required: true
        example: MASTER_TRUSTED_APP
    body:
      example: |
        {
          "trustedAppStatus": {
            "status": "ACTIVE",
            "comment": "trustedApp has been approved."
          }
        }
    responses:
      200:
        body:
          example : |
                {
                  "trustedAppStatus": {
                    "status": "ACTIVE",
                    "comment": "trustedApp has been approved."
                  }
                }
      404:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "CLIENT_NOT_FOUND",
                  "message": "A trustedApp with the specified trustedAppId is not found."
                }
              }
            }
      403:
        body:
          example: |
            {
              "errors": {
                "error": {
                  "code": "ILLEGAL_STATE",
                  "message": "The trustedApp can not be approved because its current status is not SUBMITTED."
                }
              }
            }
